*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
}
a{
    text-decoration: none;
}
:root {
    --secondary-color: #43B0F1;
    --primary-color: #057DCD;
    --dark-color: #1E3D58;
}
.background{
    height: 100vh;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/b1/f9/c1/b1f9c10d96e19bef8a280718c7b7d2b4.jpg);
    background-size: cover;
    background-position: center center;
}

.info-box{
    background: rgba(200,200,200,0.2);
    padding: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}

.text{
    opacity: 1 !important;
    color: #FFF !important;
}
.info-box input , .info-box select{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #FFF;
}
.introduce h1{
    color: var(--primary-color);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    font-size: 2.25rem;
}

.myline{
    height: 70px;
    border-left: 2px solid #000
}

.my-sub-text{
    font-size: 0.7srem;
}

.my-secondary-text{
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color)
}

.my-primary-text{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--primary-color)
}

.my-normal-text{
    font-size: 1rem;
}

.my-btn{
    background: var(--secondary-color);
    border: 0;
}

input:focus{
    box-shadow:0 0 0 0px red;
    background: transparent;
}