.btn-color{
  background-color: #0e1c36;
  color: #fff;

}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}

.input__form{
    display:flex;
}
.submit{
    border: solid 2px #0f8db1;
    padding: 8px 35px;
    color: #0f8db1;
    font-size: 14px;
    font-weight: 600;
    margin-right: 18%;
    border-radius: 3px;
    line-height: 20px;
    transition: all 0.5s;
    margin: 0 auto;
}
.submit:hover{
     color: white;
    background:#0f8db1;

}