
body{
background-image: url(https://www.vietnamairlines.com/~/media/Images/VNANew/FareDeal/default-bg.jpg?mw=1300);
background-size:cover;
}
.main{
    margin: 0 auto;
    background: #fff;
        border: 1px solid #ccc;
        padding:10px;
        width:60%;
}
.sub{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
        margin-top: 0;
    margin-bottom: 0;
}

.sub__title{
        font-size: 23px;
    width:20%;

}
.sub__type{
    width:45%;
}
.sub__type input{
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 1px solid black;
    border-radius: unset;
    transition: all 0.5s;

}
.btn__submit{
    display: flex;
    justify-content: flex-end;
}
.btn__sub{
    border: solid 2px #0f8db1;
    padding: 8px 35px;
    color: #0f8db1;
    font-size: 14px;
    font-weight: 600;
    margin-right: 18%;
    border-radius: 3px;
    line-height: 20px;
    transition: all 0.5s;
}
.btn__submit:hover .btn__sub{
    color: white;
    background:#0f8db1;

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) and (max-width:1823px) {
    .sub{
        height: 70px;
    }
    .sub__title{
        font-size:16px;
    }
    .sub__type > label{
        font-size: 14px;
    }
    .btn__sub{
    border: solid 2px #0f8db1;
    padding: 8px 35px;
    color: #0f8db1;
    font-size: 14px;
    font-weight: 600;
    margin-right: 18%;
    border-radius: 3px;
    line-height: 20px;
    transition: all 0.5s;
}
}

}