{% extends 'layout/base.html' %}



{% block css %}
<link href="{{ url_for('static', filename='css/buyticket.css') }}"
          rel="stylesheet"/>
{%endblock%}

{% block title %} Mua vé {% endblock %}

{% block content %}
<div class="container-fluid m-0 pt-5 vw-100 vh-100" >
    <div class="w-25 h-100 bg-primary pt-6" id="plane">
        <div class="d-flex">
            <ul class="left seats">
                <li class="seat">
                    <input type="checkbox" id="A1" />
                    <label for="A1">A1</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="A2" />
                    <label for="A2">A1</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="A3" />
                    <label for="A3">A1</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="A4" />
                    <label for="A4">A1</label>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

